<%= form_with(url: new_booking_path, method: :get) do |f| %>
  <% if @searched_flights %>
    <% @searched_flights.each do |flight| %>
      <p>____________________</p>
      <label for='flight'>Choose this flight </label>
      <%= f.radio_button(:flight_id, flight.id, checked: false) %>
      <%= f.hidden_field :number_of_passengers, value: params[:number_of_passengers] %>

      <p>Departing from: <%= flight.departure_airport_id %></p>
      <p>Going to: <%= flight.arrival_airport_id %></p>
      <p>Duration: <%= flight.duration %> hours</p>
      <p>Date: <%= flight.date %></p>
      <%= f.submit "Continue to Booking" %>
      <p>____________________</p>

    <% end %>
  <% end %>
<% end %>